@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #FFFFFF;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  row-gap: 40px;
}

.label-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #630981;
}

.label-start h1 {
  font-size: 1.5rem;
  font-weight: 500;
}

.label-start i {
  font-size: 4rem;
  margin-bottom: 20px;
}

.formulario {
  width: 100%;
  height: 100%;
}

.formulario .title {
  display: none;
}

.formulario .form-group {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.formulario .form-group input {
  width: 100%;
  height: 50px;
  padding: 20px;
  border-radius: 10px;
  background-color: #F8F7EE;
  border: none;
  outline: none;
}

.formulario .form-group input:focus,
.formulario .form-group input:active {
  border: 2px solid #630981;
}

.formulario .form-group button {
  width: 140px;
  height: 40px;
  background-color: #630981;
  border: none;
  color: #FFFFFF;
  border-radius: 20px;
  font-weight: 500;
  transition: background-color 0.3s;
}

.formulario .form-group button:hover,
.formulario .form-group button:active {
  opacity: 0.8;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

@media (min-width: 1024px) {
  .grid {
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
  }

  .label-start {
    grid-column: 1;
    grid-row: 1;
  }

  .label-start i {
    font-size: 4rem;
  }

  .formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 2;
    grid-row: 1;
  }

  .formulario .title {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }

  .formulario .title h1 {
    font-size: 1.6rem;
    color: #191919;
    font-weight: 700;
  }
}
